@import "root.css";

.header .logo h1, .navmenu a {
    color: var(--background-color);
}

#header.scrolled .navmenu a {
    color: var(--nav-color);
}

#header.scrolled .navmenu li:hover > a,
#header.scrolled .navmenu .active,
#header.scrolled .navmenu .active:focus {
    color: var(--nav-hover-color);
}

#header.scrolled h1, #header.scrolled .mobile-nav-toggle {
    color: var(--nav-color);
}

@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--background-color);
    }

    .navmenu ul {
        background-color: var(--background-color);
    }

    .navmenu ul a {
        color: var(--nav-color);
    }

    .foot-img img {
        height: auto;
    }
}
